<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Dashboard</title>
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>

	<!-- Custom styles -->
	<link href="static/css/app.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/dashboard">
					<span class="align-middle">Enigma</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Admin
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/dashboard">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>


					<li class="sidebar-header">
						Activity Log
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/logs">
							<i class="align-middle" data-feather="activity"></i> <span class="align-middle">Logs Data</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/logsessions">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Sessions Log</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/informationLog">
							<i class="align-middle" data-feather="server"></i> <span class="align-middle">Information Data</span>
						</a>
					</li>
					

					<li class="sidebar-header">
						Input Data
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/logtasks">
							<i class="align-middle" data-feather="mail"></i> <span class="align-middle">Task</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/invoice">
							<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Invoice</span>
						</a>
					</li>

				</ul>
				
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
					<i class="hamburger align-self-center"></i>
				</a>


				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
									<span class="indicator" id="notificationCount">0</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									<span id="notificationText">No New Notifications</span>
								</div>
								<div class="list-group" id="notificationList">
									<!-- Notifications will be appended here dynamically -->
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Show all notifications</a>
								</div>
							</div>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
								<img src="static/images/admin.jpg" class="avatar img-fluid rounded-circle" /> <span class="text-dark">Admin</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
								<a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="pie-chart"></i> Analytics</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="settings"></i> Settings </a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="align-middle mr-1" data-feather="log-out"></i>Log out</a>
							</div>
						</li>

					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3><strong>Analytics</strong> Dashboard</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4"><strong>UID Registered Data</strong> </h5>
												<h1 class="mt-1 mb-3">1</h1>
												<div class="mb-1">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> Data Value </span>
													<span class="text-muted"> Ini data </span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4"><strong>Data Update Date</strong></h5>
												<h1 class="mt-1 mb-3">2</h1>
												<div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> Data Value </span>
													<span class="text-muted"> Ini data </span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4"><strong>UID Not Registered Data</strong></h5>
												<h1 class="mt-1 mb-3">3</h1>
												<div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> Data Value </span>
													<span class="text-muted"> Ini data </span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4"><strong>Data Update Time</strong></h5>
												<h1 class="mt-1 mb-3">4</h1>
												<div class="mb-1">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> Data Value </span>
													<span class="text-muted"> Ini data </span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Chart Presentation</h5>
								</div>
								<div class="card-body py-3">
									<div class="chart chart-sm">
										<canvas id="loginStatsChart"></canvas>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-12 col-md-12 col-xxl-5 d-flex order-2 order-xxl-2">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0">Area Map</h5>
								</div>
								<div class="card-body px-4">
									<div id="map" style="height: 250px;"></div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7 d-flex order-1 order-xxl-1">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0">Difference Chart Presentation</h5>
								</div>
								<div class="card-body py-3">
									<div class="chart chart-sm">
										<canvas id="logStatsChart"></canvas>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- DataTable's -->
					<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex">
							<div class="card flex-fill shadow mb-4">
								<div class="card-header py-3">
									<h5 class="card-title mb-0">Real-Time Data</h5>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>ID</th>
													<th>D</th>
													<th>T</th>
													<th>TN</th>
													<th>S</th>
												</tr>
											</thead>
											<tbody>
												{{range .}}
												<tr>
													<td>{{.ID}}</td>
													<td>{{.D}}</td>
													<td>{{.T}}</td>
													<td>{{.TN}}</td>
													<td>
														{{if eq .S "Login"}}
															<span class="badge" style="background-color: rgb(46, 134, 171);">{{.S}}</span>
														{{else}}
															<span class="badge" style="background-color: rgb(201, 134, 134);">{{.S}}</span>
														{{end}}
													</td>
												</tr>
												{{end}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4 col-xxl-3 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Calendar</h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="chart">
											<div id="datetimepicker-dashboard"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="/dashboard" class="text-muted"><strong>Copyright &copy; Nugroho Eko S Batubara - <span id="year"></span></strong></a>
							</p>
						</div>
					</div>
				</div>
			</footer>

		</div>
	</div>


	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="javascript:void(0);" onclick="logout()">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="static/vendor/jquery/jquery.min.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="static/js/sb-admin-2.min.js"></script>
	<script src="static/js/app.js"></script>

	<!-- Page level plugins -->
	<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	<!-- Page level plugins -->
	<script src="static/vendor/chart.js/Chart.min.js"></script>
	<script src="static/vendor/jquery/moment.min.js"></script>

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#dataTable').DataTable();
		});

		document.getElementById("year").textContent = new Date().getFullYear();

		/* Calendar */
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});

		/* Logout Session */
		function logout() {
			fetch('/logout', { method: 'POST' })
			.then(response => {
				if (response.ok) {
					window.location.href = '/';
				} else {
					alert("Logout failed");
				}
			});
		}

		/* Maps : current location & user location */
		var map = L.map('map').setView([-6.3673635, 106.83317200000002], 10);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		function loadUsers() {
			fetch("/api/users")
			.then(response => response.json())
			.then(users => {
				users.forEach(user => {
					var marker = L.marker([user.lt, user.ln]).addTo(map)
					.bindPopup(`<b>${user.n}</b><br>${user.e}`);

					marker.on('mouseover', function() {
						this.openPopup();
					}).on('mouseout', function() {
						this.closePopup();
					});
				});
			})
			.catch(error => console.error("Gagal mengambil data lokasi:", error));
		}

		function onLocationFound(e) {
			var userMarker = L.marker(e.latlng).addTo(map)
			.bindPopup("Your current location").openPopup();

			userMarker.on('mouseover', function() {
				this.openPopup();
			}).on('mouseout', function() {
				this.closePopup();
			});

			loadUsers();
		}

		function onLocationError(e) {
			alert("Gagal mendapatkan lokasi: " + e.message);
		}

		map.locate({setView: true, maxZoom: 16});
		map.on('locationfound', onLocationFound);
		map.on('locationerror', onLocationError);
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			function fetchNotifications() {
				fetch('/api/notificationTask', { credentials: 'include' })
				.then(response => response.json())
				.then(data => {
					const notificationCount = document.getElementById('notificationCount');
					notificationCount.textContent = data.length;

					const notificationText = document.getElementById('notificationText');
					if (data.length > 0) {
						notificationText.textContent = `${data.length} New Notifications`;
					} else {
						notificationText.textContent = 'No New Notifications';
					}

					const notificationList = document.getElementById('notificationList');
					notificationList.innerHTML = '';
					data.forEach(notification => {
						const notificationItem = document.createElement('a');
						notificationItem.classList.add('list-group-item');
						notificationItem.href = notification.rt;

						notificationItem.innerHTML = `
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <i class="text-warning" data-feather="bell"></i>
                        </div>
                        <div class="col-10">
                            <div class="text-dark">Hello <strong>${notification.r}</strong></div>
                            <div class="text-muted small mt-1">${notification.d} ${notification.t}</div>
                            <div class="text-muted small mt-1">${notification.dc}</div>
                        </div>
                    </div>
						`;

						notificationList.appendChild(notificationItem);
					});

					feather.replace();
				})
				.catch(error => {
					console.error('Error fetching notifications:', error);
				});
			}
			fetchNotifications();
			setInterval(fetchNotifications, 5000);
		});
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			function fetchChartLoginStats() {
				fetch("/api/login-stats")
				.then(response => response.json())
				.then(data => {
					const labels = data.map(item => item.date);
					const counts = data.map(item => item.count);

					const ctx = document.getElementById("loginStatsChart").getContext("2d");
					new Chart(ctx, {
						type: "line",
						data: {
							labels: labels,
							datasets: [
								{
									label: "Users Login",
									data: counts,
									borderColor: 'rgba(33, 158, 188, 1)',
									backgroundColor: 'rgba(142, 202, 230, 0.2)',
									borderWidth: 4,
									fill: true,
								}]
							},
							options: {
								maintainAspectRatio: false,

								tooltips: {
									intersect: false
								},
								hover: {
									intersect: true
								},
								plugins: {
									filler: {
										propagate: false
									}
								},
								scales: {
									xAxes: [{
										reverse: true,
										gridLines: {
											color: "rgba(0,0,0,0.05)"
										}
									}],
									yAxes: [{
										ticks: {
											suggestedMin: 0,
											suggestedMax: 10
										},
										display: true,
										borderDash: [5, 5],
										gridLines: {
											color: "rgba(0,0,0,0)",
											fontColor: "#fff"
										}
									}]
								}
							}
						});
				})
				.catch(error => console.error("Gagal mengambil data statistik:", error));
			}
			fetchChartLoginStats();
			setInterval(fetchChartLoginStats, 60000);
		});
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			function fetchChartLogDataStats() {
				fetch("/api/logdata-stats")
				.then(response => response.json())
				.then(data => {
					let labels 	= data.map(d => d.d);
					let kData 	= data.map(d => d.k);
					let iData 	= data.map(d => d.i);
					let fData 	= data.map(d => d.f);
					let aData 	= data.map(d => d.a);

					const ctx = document.getElementById("logStatsChart").getContext("2d");
					new Chart(ctx, {
						type: "line",
						data: {
							labels: labels,
							datasets: [
								{
									label: "K",
									data: kData,
									borderColor: "rgba(33, 158, 188, 1)",
									backgroundColor: "rgba(142, 202, 230, 0.2)",
									borderWidth: 4,
									fill: true,
								},
								{
									label: "I",
									data: iData,
									borderColor: 'rgba(251, 133, 0, 1)',
									backgroundColor: 'rgba(255, 183, 3, 0.2)',
									borderWidth: 4,
									fill: true,
								},
								{
									label: "F",
									data: fData,
									borderColor: "rgba(152, 114, 132, 1)",
									backgroundColor: "rgba(184, 158, 151, 0.2)",
									borderWidth: 4,
									fill: true,
								},
								{
									label: "A",
									data: aData,
									borderColor: 'rgba(178, 76, 99, 1)',
									backgroundColor: 'rgba(176, 123, 172, 0.2)',
									borderWidth: 4,
									fill: true,
								}]
							},
							options: {
								maintainAspectRatio: false,
								
								tooltips: {
									intersect: false
								},
								hover: {
									intersect: true
								},
								plugins: {
									filler: {
										propagate: false
									}
								},
								scales: {
									xAxes: [{
										reverse: true,
										gridLines: {
											color: "rgba(0,0,0,0.05)"
										}
									}],
									yAxes: [{
										ticks: {
											suggestedMin: 20,
											suggestedMax: 100
										},
										display: true,
										borderDash: [5, 5],
										gridLines: {
											color: "rgba(0,0,0,0)",
											fontColor: "#fff"
										}
									}]
								}
							}
						});
				})
				.catch(error => console.error("Gagal mengambil data statistik:", error));
			}
			fetchChartLogDataStats();
			setInterval(fetchChartLogDataStats, 60000);
		});
	</script>


</body>
</html>
